--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-groq
langchain-chroma
langchain_community
langchain-core
faiss-cpu
torch
transformers
sentence-transformers
python-dotenv
httpx
requests
chromadb
pydantic
python-multipart